.code { font-family: Consolas, monaco, monospace; }
.moon-gray { color: #CCCCCC }
.bg-dark-gray { background-color: #333333 }

.centered {
    position: fixed; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px; /* Need a specific value to work */
  }

.twitter-timeline{
  position: static; 
  visibility: visible; 
  display: inline-block; 
  width: 350px; height: 500px; 
  padding: 0px; border: none; max-width: 100%; 
  min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;
}

.center {
  margin-right: auto;
  margin-left: auto;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
}


.absolute-center { position: absolute; 
}
@media only screen and (max-width: 1200px){

    .left{
        display: none;
    }
    .centered {
        position: relative;
        transform: translate(-50%, -50%);
      }
      .right{
        display: none;
    }
}